# Configuração de produção
# Copie este arquivo para .env.production

API_BACKEND=http://host.docker.internal:8080
NGINX_SERVER_NAME=_
CLIENT_PORT=3000
VITE_APP_NAME="React Client"
VITE_API_BASE_URL=/api
APP_SOURCE_DIR=src/app

CLIENT_IMAGE=react-client
CLIENT_HOST=localhost
APP_NETWORK=app-network
API_NETWORK=api-network
