.content-header {
    min-height: 50px;
}

.main-footer {
    position: fixed;
    bottom  : 0px;
    width   : 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.content {
    padding-bottom: 50px;
}

.box-body {
    background-color: #fff;
}

.custom-list-group>li {
    display: inline-table;
}

.custom-list-group>li>h5 {
    font-weight: bold;
}

.custom-list-group>li>a {
    text-decoration: none;
    color          : inherit;
    cursor         : pointer;
}

.custom-list-group>li:hover {
    background-color: #0000000d;
}

.center-block {
    display     : block;
    margin-right: auto !important;
    margin-left : auto !important;
}

.material-item {
    border: none;
    border-radius: 3px;
    box-shadow:
        0px 1px 5px 0px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
/* Aumentando fonte das legendas dos Charts*/
.MuiTypography-subheading-38 {
    font-size: 1.3rem !important;
}